# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Entorno virtual
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store

# Archivos de configuración local
.env
*.log